
<table class="periodic_table my-5">
        
    <thead>
        <tr>
            <% @periodic_table['head'].each do | head | %>
                <th class="cell cell_borderless index_label">
                    <%= head %>
                </th>
            <% end %>
        </tr>
    </thead>

    <% # Main Table %>
    <tbody>
        <% @periodic_table['body'].each do | row, columns | %>
            <tr>
            <td class="cell cell_borderless index_label">
                <%= row %>
            </td>
            <% columns.each do | index, column | %>
                <% unless column['data'].nil? %>
                <td class="cell cell_bordered">
                    <% if column['is_expanded'] == false %>
                        <div class="cell_text_md"><%= column['data']['number'] %></div>
                        <div class="cell_text_lg cell_text_bold"><%= column['data']['symbol'] %></div>
                        <div class="cell_text_xs"><%= column['data']['name'] %></div>
                        <div class="cell_text_sm"><%= column['data']['atomic_mass'] %></div>
                    <% end %>
                </td>
                <% else %>
                <td class="cell cell_borderless cell_text_md text-center">
                    <%= column['label'] %>
                </td>
                <% end %>
            <% end %>
            </tr>
        <% end %>
    </tbody>

    <% # Row 6 | Column 3 - Expanded Subgroup %>
    <tbody>
        <tr>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless index_label">
                6
            </td>
            <% @periodic_table['y6x3_expanded'].each do | row, column | %>
                <td class="cell cell_bordered">
                    <div class="cell_text_md"><%= column['data']['number'] %></div>
                    <div class="cell_text_lg cell_text_bold"><%= column['data']['symbol'] %></div>
                    <div class="cell_text_xs"><%= column['data']['name'] %></div>
                    <div class="cell_text_sm"><%= column['data']['atomic_mass'].to_f.round 3 %></div>
                </td>
            <% end %>
        </tr>
    </tbody>

    <% # Row 7 | Column 3 - Expanded Subgroup %>
    <tbody>
        <tr>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless index_label">
                7
            </td>
            <% @periodic_table['y7x3_expanded'].each do | row, column | %>
                <td class="cell cell_bordered">
                    <div class="cell_text_md"><%= column['data']['number'] %></div>
                    <div class="cell_text_lg cell_text_bold"><%= column['data']['symbol'] %></div>
                    <div class="cell_text_xs"><%= column['data']['name'] %></div>
                    <div class="cell_text_sm"><%= column['data']['atomic_mass'].to_f.round 3 %></div>
                </td>
            <% end %>
        </tr>
    </tbody>

</table>
