
<table class="my-5" style="border-collapse: collapse;">
        
    <thead>
        <tr>
            <% @periodic_table['head'].each do | head | %>
                <th style="width: 77px; height: 25px; padding: 2px; vertical-align: middle; font-size: 20px; font-weight: bold; text-align: center;">
                    <%= head %>
                </th>
            <% end %>
        </tr>
    </thead>

    <% # Main Table %>
    <tbody>
        <% @periodic_table['body'].each do | row, columns | %>
            <tr>
            <td style="height: 77px; padding: 2px; text-align: center; vertical-align: middle; font-size: 20px; font-weight: bold;">
                <%= row %>
            </td>
            <% columns.each do | index, column | %>
                <% unless column['data'].nil? %>
                <td style="text-align: left; border: 1px solid #000; padding: 2px;">
                    <% if column['is_expanded'] == false %>
                    <div style="line-height: 1; font-size: 14px;"><%= column['data']['number'] %></div>
                    <div style="line-height: 1; font-size: 22px; font-weight: bold;"><%= column['data']['symbol'] %></div>
                    <div style="line-height: 1; font-size: 11px;"><%= column['data']['name'] %></div>
                    <div style="line-height: 1; font-size: 13px;"><%= column['data']['atomic_mass'] %></div>
                    <% end %>
                </td>
                <% else %>
                <td style="text-align: center; font-size: 14px;">
                    <%= column['label'] %>
                </td>
                <% end %>
            <% end %>
            </tr>
        <% end %>
    </tbody>

    <% # Row 6 | Column 3 - Expanded Subgroup %>
    <tbody>
        <tr>
            <td style="width: 77px; padding: 2px;"></td>
            <td style="width: 77px; padding: 2px;"></td>
            <td style="width: 77px; padding: 2px;"></td>
            <td style="width: 77px; padding: 2px; height: 77px; text-align: center; vertical-align: middle; font-size: 20px; font-weight: bold;">
                6
            </td>
            <% @periodic_table['y6x3_expanded'].each do | row, column | %>
                <td style="width: 77px; text-align: left; border: 1px solid #000; padding: 2px;">
                    <div style="line-height: 1; font-size: 14px;"><%= column['data']['number'] %></div>
                    <div style="line-height: 1; font-size: 22px; font-weight: bold;"><%= column['data']['symbol'] %></div>
                    <div style="line-height: 1; font-size: 11px;"><%= column['data']['name'] %></div>
                    <div style="line-height: 1; font-size: 13px;"><%= column['data']['atomic_mass'].to_f.round 3 %></div>
                </td>
            <% end %>
        </tr>
    </tbody>

    <% # Row 7 | Column 3 - Expanded Subgroup %>
    <tbody>
        <tr>
            <td style="width: 77px; padding: 2px;"></td>
            <td style="width: 77px; padding: 2px;"></td>
            <td style="width: 77px; padding: 2px;"></td>
            <td style="width: 77px; padding: 2px; height: 77px; text-align: center; vertical-align: middle; font-size: 20px; font-weight: bold;">
                7
            </td>
            <% @periodic_table['y7x3_expanded'].each do | row, column | %>
                <td style="width: 77px; text-align: left; border: 1px solid #000; padding: 2px;">
                    <div style="line-height: 1; font-size: 14px;"><%= column['data']['number'] %></div>
                    <div style="line-height: 1; font-size: 22px; font-weight: bold;"><%= column['data']['symbol'] %></div>
                    <div style="line-height: 1; font-size: 11px;"><%= column['data']['name'] %></div>
                    <div style="line-height: 1; font-size: 13px;"><%= column['data']['atomic_mass'].to_f.round 3 %></div>
                </td>
            <% end %>
        </tr>
    </tbody>

</table>
