
<table class="periodic_table my-5">
        
    <thead>
        <tr>
            <% @periodic_table['head'].each do | head | %>
                <th class="cell cell_borderless index_label">
                    <%= head %>
                </th>
            <% end %>
        </tr>
    </thead>

    <% # Main Table %>
    <tbody>
        <% @periodic_table['body'].each do | row, columns | %>
            <tr>
            <td class="cell cell_borderless index_label">
                <%= row %>
            </td>
            <% columns.each do | index, column | %>
                <% if !column['data'].nil? %>
                    <%= render :partial => 'partials/periodic_table_element_cell', :locals => { column: column } %>
                <% elsif column['is_expanded'] %>
                    <td class="cell cell_borderless cell_text_md index_label text-center is_expanded">
                        <%= column['label'] %>
                    </td>
                <% else %>
                    <td class="cell cell_borderless"></td>
                <% end %>
            <% end %>
            </tr>
        <% end %>
    </tbody>

    <% # Row 6 | Column 3 - Expanded Subgroup %>
    <tbody>
        <tr>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless index_label is_expanded">
                6
            </td>
            <% @periodic_table['y6x3_expanded'].each do | row, column | %>
                <%= render :partial => 'partials/periodic_table_element_cell', :locals => { column: column } %>
            <% end %>
        </tr>
    </tbody>

    <% # Row 7 | Column 3 - Expanded Subgroup %>
    <tbody>
        <tr>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless index_label is_expanded">
                7
            </td>
            <% @periodic_table['y7x3_expanded'].each do | row, column | %>
                <%= render :partial => 'partials/periodic_table_element_cell', :locals => { column: column } %>
            <% end %>
        </tr>
    </tbody>

</table>
