
<table class="periodic_table my-5">
        
    <thead>
        <tr>
            <% @periodic_table['head'].each do | head | %>
                <th class="cell cell_borderless index_label">
                    <%= head %>
                </th>
            <% end %>
        </tr>
    </thead>

    <% # Main Table %>
    <tbody>
        <% @periodic_table['body'].each do | row, columns | %>
            <tr>
            <td class="cell cell_borderless index_label">
                <%= row %>
            </td>
            <% columns.each do | index, column | %>
                <% if !column['data'].nil? %>
                    <td class="cell cell_bordered" style="background-color: <%= column['data']['bg_color'] %>" title="<%= column['data']['category'] %>">
                        <% if column['is_expanded'] == false %>
                            <a href="<%= table_path(column['data']['element']) %>">
                                <div class="cell_text_md"><%= column['data']['number'] %></div>
                                <div class="cell_text_lg cell_text_bold"><%= column['data']['symbol'] %></div>
                                <div class="cell_text_xs"><%= column['data']['name'] %></div>
                                <div class="cell_text_sm"><%= column['data']['atomic_mass'] %></div>
                            </a>
                        <% end %>
                    </td>
                <% elsif column['is_expanded'] %>
                    <td class="cell cell_borderless cell_text_md index_label text-center is_expanded">
                        <%= column['label'] %>
                    </td>
                <% else %>
                    <td class="cell cell_borderless"></td>
                <% end %>
            <% end %>
            </tr>
        <% end %>
    </tbody>

    <% # Row 6 | Column 3 - Expanded Subgroup %>
    <tbody>
        <tr>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless index_label is_expanded">
                6
            </td>
            <% @periodic_table['y6x3_expanded'].each do | row, column | %>
                <td class="cell cell_bordered" style="background-color: <%= column['data']['bg_color'] %>" title="<%= column['data']['category'] %>">
                    <a href="<%= table_path(column['data']['element']) %>">
                        <div class="cell_text_md"><%= column['data']['number'] %></div>
                        <div class="cell_text_lg cell_text_bold"><%= column['data']['symbol'] %></div>
                        <div class="cell_text_xs"><%= column['data']['name'] %></div>
                        <div class="cell_text_sm"><%= column['data']['atomic_mass'].to_f.round 3 %></div>
                    </a>
                </td>
            <% end %>
        </tr>
    </tbody>

    <% # Row 7 | Column 3 - Expanded Subgroup %>
    <tbody>
        <tr>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless"></td>
            <td class="cell cell_borderless index_label is_expanded">
                7
            </td>
            <% @periodic_table['y7x3_expanded'].each do | row, column | %>
                <td class="cell cell_bordered" style="background-color: <%= column['data']['bg_color'] %>" title="<%= column['data']['category'] %>">
                    <a href="<%= table_path(column['data']['element']) %>">
                        <div class="cell_text_md"><%= column['data']['number'] %></div>
                        <div class="cell_text_lg cell_text_bold"><%= column['data']['symbol'] %></div>
                        <div class="cell_text_xs"><%= column['data']['name'] %></div>
                        <div class="cell_text_sm"><%= column['data']['atomic_mass'].to_f.round 3 %></div>
                    </a>
                </td>
            <% end %>
        </tr>
    </tbody>

</table>
