<td class="cell cell_bordered" style="background-color: <%= column['data']['bg_color'] %>" title="<%= column['data']['category'] %>">
    <% if column['is_expanded'] == false %>
        <a href="<%= table_path(column['data']['element']) %>">
            <div class="cell_text_md"><%= column['data']['number'] %></div>
            <div class="cell_text_lg cell_text_bold"><%= column['data']['symbol'] %></div>
            <div class="cell_text_xs"><%= column['data']['name'] %></div>
            <div class="cell_text_sm"><%= column['data']['atomic_mass'] %></div>
        </a>
    <% end %>
</td>
